<a href="https://colab.research.google.com/github/DeveloperCorsair/colab/blob/main/Start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
tabela = pd.read_excel("/content/drive/MyDrive/henrique1.xlsx")
display(tabela)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,GASTOS PESSOAIS MORANDO EM SÃO JOSÉ DOS CAMPOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Despesas,Janeiro,Fevereiro,Março,AbrIl,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,Valor Anual
2,NaN,Aluguel,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,30000
3,NaN,Escola,1400,1400,1400,1400,1400,1400,1400,1400,1400,1400,1400,1400,16800
4,NaN,Supermercado,640,500,300,515,530,540,600,450,550,500,546,700,6371
5,NaN,Farmácia,150,200,336,450,310,340,200,210,350,370,330,352,3598
6,NaN,Internet,75,75,75,75,139,139,139,139,139,139,139,139,1412
7,NaN,Gasto (Trimestral),14051,NaN,NaN,14738,NaN,NaN,14477,NaN,NaN,14915,NaN,NaN,################
8,NaN,Total (Todas as despesas),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Média Trimestral,936.733333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Média Anual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!python '/content/Exercício 1.py'

python3: can't open file '/content/Exercício 1.py': [Errno 2] No such file or directory

In [2]:
import plotly.express as px